@tailwind base;
@tailwind components;


:root {
    --elm-undefined: #e5e7eb;
    --elm-bug: #9dc130;
    --elm-dark: #5f606d;
    --elm-dragon: #0773c7;
    --elm-electric: #edd53f;
    --elm-fairy: #ef97e6;
    --elm-fighting: #d94256;
    --elm-fire: #fc6c6d;
    --elm-flying: #9bb4e8;
    --elm-ghost: #7975d4;
    --elm-grass: #5dbe62;
    --elm-ground: #d78555;
    --elm-ice: #98d8d8;
    --elm-normal: #9a9da1;
    --elm-poison: #b563ce;
    --elm-psychic: #f85888;
    --elm-rock: #cec18c;
    --elm-steel: #b8b8d0;
    --elm-water: #60a5fa;
}

body {
    font-family: 'Fira Sans', sans-serif;
    @apply font-normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@tailwind utilities;