.button {
    @apply flex justify-center items-center mt-3;
    @apply h-12 w-full shadow-md rounded-xl cursor-pointer;
    @apply text-lg font-medium;

    @apply shadow-sm;
}

.contained {
    @apply bg-sky-600 text-white;
    @apply hover:bg-sky-500;
}

.outlined {
    @apply bg-inherit text-sky-600 border-sky-600 border-2;
    @apply hover:text-sky-500 hover:border-sky-500;
}

.link {
    @apply p-0 inline-block w-fit shadow-none h-auto text-xs;

    &:active, &:hover {
        @apply underline;
    }
}

.button:disabled {
    @apply bg-gray-500;
}

.dot-flashing {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: #fff;
    color: #fff;
    animation: dotFlashing 0.5s infinite linear alternate;
    animation-delay: 0.25s;
}

.dot-flashing::before,
.dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -0.71rem;
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: #fff;
    color: #fff;
    animation: dotFlashing 0.5s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 0.71rem;
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: #fff;
    color: #fff;
    animation: dotFlashing 0.5s infinite alternate;
    animation-delay: 0.5s;
}

@keyframes dotFlashing {
    0% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    50%,
    100% {
        background-color: #fff;
    }
}