.popup {
    @apply flex fixed inset-0 z-10 overflow-y-auto w-full h-full;

    &_overlay {
        @apply fixed inset-0 bg-gray-200 opacity-95;
    }

    &_close {
        @apply absolute text-4xl right-2 top-0 rotate-45;
    }

    &_content {
        @apply relative m-auto bg-white max-w-md w-full p-5 rounded-md shadow-md;
    }
}

/* Animation */

.overlayEnter {
    opacity: 0;
}

.overlayEnterActive {
    transition: opacity 300ms ease-in-out;
    opacity: 0.95;
}

.overlayExit {

}

.overlayExitActive {
    transition: opacity 300ms ease-in-out;
    opacity: 0;
}

.contentEnter {
    opacity: 0;
    transform: scale(0.5);
}

.contentEnterActive {
    transition: opacity 100ms ease-in-out 200ms, transform 100ms ease-in-out 200ms;
    opacity: 1;
    transform: scale(1);
}

.contentExit {

}

.contentExitActive {
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    opacity: 0;
    transform: scale(0.01);
}
